# Environment variables for the quiz bot application
APP_NAME=quizbot_app
MAIN=cmd/quizbot/main.go
BOT_TOKEN=
BOT_USERNAME=

# PostgreSQL database configuration
DB_CONN_URL=postgres://<username>:<password>@<host>:<port>/<dbname>?sslmode=<mode>
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_MAX_IDLE=
REDIS_IDLE_TIMEOUT=
REDIS_CACHE_TTL=